@import "Global";

.App-Wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: $primary-color;
}

.App{
  margin: auto;
  max-width: 1400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
}

.AppContent{
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.AppContent .AppLogoLink{
  display: flex;
  margin: auto;

}

.AppContent .AppLogoLink img{
  max-width: 5rem;
  height: 5rem;
  filter: invert($logo-filter);
}

@media (max-width: 768px) {
  .App{
    width: 100%;
  }
  .AppContent{
    width: 100%;
  }
}

@media (min-width: 768px) {
  .AppLogoLink img{
    display: none;
  }
}

.Bottom-Reset{
  display: flex;
  margin: 10vh auto;
  box-sizing: border-box;
}

.Bottom-Reset button{
  text-decoration: none;
  color: $text-color;
  font-size: large;
  border: unset;
  background-color: unset;
  cursor: pointer;
}