$primary-color: #fefae0;
$secondary-color: #333;

@function text-color($color){
  @if(lightness($color) > 50){
    @return #888;
  }
  @return #eee;
}

@function logo-color($color){
  @if(lightness($color) > 50){
    @return 0%;
  }
  @return 100%;
}

$text-color: text-color($primary-color);
$logo-filter: logo-color($primary-color);