@import "Global";

.Navbar .NavContents{
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  width: 10vw;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.Navbar .NavContents .NavLogo{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  filter: invert($logo-filter);
}

.NavToggle{
  display: none;
  position: absolute;
  top: 2rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 21px;
  z-index: 2;
  background-color: unset;
  border: unset;
}

.NavToggle img{
  width: 100%;
  height: 100%;
}

.Navbar .NavContents ul{
  padding: unset;
}

.Navbar .NavContents ul header a{
  text-decoration: none;
  transition: 0.2s;
  font-size: small;
  color: $text-color;
  font-weight: 700;
}

.Navbar .NavContents ul header a:hover{
  font-size: medium;
  transition: 0.2s;
  color: $text-color;
}

.Navbar .NavContents ul li{
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
}

.Navbar .NavContents ul li a{
  text-decoration: none;
  font-size: small;
  color: $text-color;
  font-weight: 400;
  transition: 0.2s;
  margin: auto;
}

.Navbar .NavContents ul li a:hover{
  transition: 0.2s;
  font-size: medium;
  color: $text-color;
}

@media (max-width: 768px) {
  .NavToggle{
    display: flex;
  }

  .Navbar .NavContents{
    display: none;
  }

  .NavPhone{
    width: 100%;
  }

  .NavPhoneDisplayFlex{
    display: flex;
  }
}

@media (min-width: 768px) {
  .NavPhoneDisplayFlex{
    display: none;
  }

  .NavPhone {

  }
}

.NavPhoneDisplayNone{
  display: none;
}

.NavPhone{
  position: absolute;
  z-index: 1;
  min-height: 100vh;
  flex-direction: column;
  background-color: $primary-color;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.NavPhone ul{
  list-style: none;
  padding: unset;
  margin: auto;
}

.NavPhone header{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.NavPhone header a{
  text-decoration: none;
  color: $text-color;
  font-size: x-large;
}

.NavPhone ul li{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.NavPhone ul li a{
  text-decoration: none;
  color: $text-color;
  font-size: large;
}