@import "Global";

$splash-logo-height: 40vmin;
$splash-logo-pointer-events: none;

.Splash-logo{
  height: $splash-logo-height;
  pointer-events: $splash-logo-pointer-events;
}

$splash-logo-animation: Splash-logo-spin infinite 20s linear;

@media (prefers-reduced-motion: no-preference) {
  .Splash-logo {
    animation: $splash-logo-animation;
  }
}

$splash-logo-rotate-start: rotate(0deg);
$splash-logo-rotate-end: rotate(360deg);

@keyframes Splash-logo-spin {
  from {
    transform: $splash-logo-rotate-start;
  }
  to {
    transform: $splash-logo-rotate-end;
  }
}

//================//
// Splash Content //
//================//

.Splash {
  background-color: $primary-color;
  width: 100%;
  display: grid;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  align-content: flex-start;
  grid-template-columns: 50% 50%;
}

.Splash-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: $text-color;
  align-self: stretch;
  padding-left: 1%;
  padding-right: 1%;
}

.Splash-img{
  width: 100%;
  height: 80%;
}

.Splash-img img{
  width: 100%;
  height: 15em;
  box-sizing: border-box;
  object-fit: cover;
}

.Splash-desc{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 20%;
  box-sizing: border-box;
  padding-top: 1%;
}

.Splash-item a{
  text-decoration: none;
  color: unset;
}

.Splash-header{
  padding-top: 1%;
  padding-bottom: 1%;
  margin: unset;
  font-size: medium;
  text-decoration: none;
}

.Splash-subheader{
  margin: unset;
  font-size: small;
  font-weight: normal;
}

@media (max-width: 540px) {
  .Splash{
    grid-template-columns: 100%;
  }
}